.gift {
  color: var(--main-black, #272525);
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text {
  color: var(--gray, #454747);
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%; /* 0px */
  letter-spacing: 1.17px;
}
